/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html{
  height:100%;
}
body{
background: #E6DADA; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-default{
  background: rgba(250, 250, 250, 0.5);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	border: none;
	border-radius: 0;
}

#logo{
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 0px;
  a{
    color: #2F363E;
  }
}
#main_content{
  #content{
    float: none;
  }
  padding-bottom: 100px;
  .link{
    padding: 2em 1em;
    border-bottom: 1px solid #e9e9e9;
    .title{
      a{
        color: #FF4500;
      }
    }
  }
  .comment_title{
    margin-top: 2em;
  }
  #comments{
    .comment{
      padding: 1em 0;
      border-top: 1px solid #e9e9e9;
      .lead{
        margin-bottom: 0;
      }
    }
  }
}
.author{
  color: white;
}
